
@model Music.ViewModels.UserViewModel;

<br />

<div class="p-3 row">
    <h3 class="mb-2 font-italic col-8">@Model.FirstName @Model.LastName's profile</h3>
    <div class="col-6">
        <i class="fas fa-envelope"></i> &nbsp;
        <a class="text-primary font-italic" asp-action="SendEmail" asp-route-id="@Model.Id">
            @Model.Email
        </a>
    </div>
</div>

<br />
<table class="table table-bordered text-light w-100 text-center mt-3">
    <thead>
        <tr>
            <th>Playlist</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Playlist uPlaylist in Model.Playlists)
        {
            <tr>
                <td>
                    <a class="text-info text-decoration-none"
                       asp-controller="Playlists" asp-action="LookAt"
                       asp-route-id="@uPlaylist.Id">
                        @uPlaylist.Title
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
