@model Music.ViewModels.AddSongsToPlaylistViewModel

@{
    ViewBag.Title = "Add Songs to Playlist: " + Model.Playlist.Title;
}

<br />

<div class="container p-3 bg-dark">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-light">Add songs to Playlist: @Model.Playlist.Title</h2>
        </div>
    </div>

    <br /><br />

    <form asp-controller="Playlists" asp-action="AddSongs" method="post">
        @if (Model.RemainingSongs.Count() > 0)
        {
            <table id="playlist_table" class="table table-bordered text-light" style="width:100%">
                <thead class="text-light">
                    <tr>
                        <th>
                            Title
                        </th>
                        <th>
                            Author
                        </th>
                        <th>
                            Category
                        </th>
                        <th>
                            Published
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @for (var i = 0; i < Model.RemainingSongs.Count; ++i)
                    {
                        <tr>
                            <td>@Model.RemainingSongs[i].Title</td>
                            <td>@Model.RemainingSongs[i].Author</td>
                            <td>@Model.RemainingSongs[i].Category</td>
                            <td>@Model.RemainingSongs[i].YearPublished</td>
                            <td>
                                <div class="custom-checkbox custom-control text-center">
                                    <input type="checkbox" class="custom-control-input"
                                           asp-for="SongsToAddIds[i]"
                                           value="@Model.RemainingSongs[i].Id"
                                           id="@Model.RemainingSongs[i].Id" />
                                    <label class="custom-control-label"
                                           for="@Model.RemainingSongs[i].Id"></label>
                                    <span asp-validation-for="SongsToAddIds[i]"></span>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <input type="hidden" asp-for="PlaylistId" value="@Model.Playlist.Id" />
            <button type="submit" class="btn btn-outline-success">
                <i class="fas fa-plus"></i> &nbsp; Add selected songs
            </button>


        }
        else
        {
            <p>All available songs are already in this playlist.</p>
        }
        <a asp-controller="Playlists" asp-action="EditPlaylist" asp-route-id="@Model.Playlist.Id"
           class="btn btn-outline-secondary ml-1">
            <i class="fas fa-backward"></i> &nbsp; Back
        </a>
    </form>


</div>
