@model Music.ViewModels.UserPlaylistViewModel;

<br />

<h3 class="mb-4 font-italic">
    Viewing @Model.UserFirstName @Model.UserLastName (<a class="text-info text-decoration-none" asp-controller="Users" asp-action="Profile" asp-route-id="@Model.UserId">@Model.UserEmail</a>)'s @Model.Playlist.Title 
</h3>

<table class="table table-bordered w-100 text-light text-center">
    <thead>
        <tr>
            <th style="width:30%">Title</th>
            <th style="width:30%">Author</th>
            <th style="width:30%">Category</th>
            <th style="width:10%">Published</th>
        </tr>
    </thead>
    <tbody>
        @foreach(Song songInPlaylist in Model.PlaylistSongs)
        {
        <tr>
            <td>
                <a class="text-info text-decoration-none"
                   href="@songInPlaylist.Link">
                    @songInPlaylist.Title
                </a>
            </td>
            <td>@songInPlaylist.Author</td>
            <td>@songInPlaylist.Category</td>
            <td>@songInPlaylist.YearPublished</td>
        </tr>
        }
    </tbody>
</table>